<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="verifysystem.company.com.verifysystem">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".AppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent"
            android:screenOrientation="landscape"/>

        <receiver android:name=".receiver.BatteryReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"></action>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"></action>
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED"></action>
                <action android:name="com.example.bluetooth.le.ACTION_GATT_CONNECTED"></action>
                <action android:name="com.example.bluetooth.le.ACTION_GATT_CONNECTING"></action>
                <action android:name="com.example.bluetooth.le.ACTION_GATT_DISCONNECTED"></action>

            </intent-filter>

        </receiver>


        <activity
            android:name=".activity.PictureShowActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c05c9a0ae92fa7ae610c8a23463851f040c6d42c" />

        <service android:name=".services.UploadService"></service>
        <service android:name=".services.CollectService"></service>
    </application>

</manifest>